* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* High Score and Timer at the top of the screen */
#top-screen {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

/* Main Body Styling */
#game {
  position: relative;
  left: 25%;
  padding-top: 5%;
  max-width: 50%;
}

/*Game Intro Styling */
#game-intro h1 {
  position: relative;
  left: 30%;
  padding-bottom: 3%;
}
#game-intro p {
  font-size: 20px;
}

#button {
  position: relative;
  left: 38%;
  padding: 10px;
  font-size: 18px;
  margin-top: 3%;
}

/* Style to remove content from screen */
.none {
  display: none;
}
/* Style to display content on screen */
.visible {
  display: block;
}

/* Game Quiz Styling */
#questions {
  position: relative;
  left: 35%;
}

.question {
  font-size: 35px;
}

.answers {
  position: relative;
  left: 6%;
}

.answers button {
  padding: 5px;
  margin-top: 1%;
  font-size: 17px;
  background-color: greenyellow;
}

/* Ending Screen Styling */
#ending-text {
  position: relative;
  font-size: 35px;
  left: 30%;
}

#ending-score {
  font-size: 20px;
  position: relative;
  left: 25%;
  margin-top: 3%;
}
/* Form Styling */
form {
  margin-top: 3%;
  position: relative;
  left: 35%;
}

#input {
  padding: 1%;
  margin-right: 2%;
}

#submit {
  padding: 6px;
}

/* High Score Link Styling */
#high-score {
  margin-left: 20px;
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
